<?xml version='1.0' encoding='utf-8'?>
<widget id="com.robin.family" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>TripGame</name>
    <description>
        TripGame
    </description>
    <author email="robchen@vip.qq.com" href="http://tripgame.com">
        TripGame Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
