@charset "utf-8";

#main-nav {
    position: fixed;
    bottom: 0;
    line-height: 1rem;
}

#page {
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #eee;
}

.user-logo {

}

.user-info {    
    color: #fff;
}

.img-wrapper {
    border-radius: 50%;
    overflow: hidden;
}

.img-wrapper.small {
    width: 3rem;
    height: 3rem;
}

.img-wrapper.normal {
    width: 6rem;
    height: 6rem;
}

.img-wrapper.large {
    width: 12rem;
    height: 12rem;
}

ul.list {
    list-style:none;
    margin-top: 1rem;
    margin-left: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: #fff;
}

ul.list li {
    line-height: 3rem;
    border-bottom: 1px solid #ccc;
}

ul.list li.last {
    border: none;
}

ul.list p {
    font-size: 0.8rem;
    margin: 0;
    line-height: 1.8rem;
    color: #999
}
ul.list .feed-content {
    padding-left: 0;
}

.feed-content .time, .feed-content .city, .feed-content i {
    color: #008cba;
}

.feed-content .msg {
    color: #666;
}